.header {
	padding: 1rem 2rem;
	background-color: var(--accent-color);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainTwo {
	display: flex;
	gap: 1.5rem;
}
