.container {
	font-size: 1.5rem;
	padding: 1.5rem 0;
	border-bottom: var(--border-style);
	cursor: pointer;
}

.main {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	flex-direction: row;
}

.rowTwo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-start;
	justify-content: center;
	flex: 1 0 auto;
}

.circle {
	border-radius: 50%;
	padding: 0.7rem;
	border: 1px solid var(--accent-color);
}

.completed {
	background-color: var(--completedTodo-color);
}

@media (hover: hover) and (pointer: fine) {
	.circle:hover,
	.circle:active {
		background-color: var(--completedTodo-color);
	}
}

.rowThree {
	display: none;
}

.main:hover .rowThree {
	display: block;
	margin-left: auto;
	align-self: center;
	padding-right: 1rem;
}

.date {
	font-size: 1.25rem;
}

.dotBtn {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
}

.dotBtn:active {
	transform: translate(0, 1px);
}
