@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Poppins:wght@400;500;600&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	position: relative;
}

body {
	--font-color: rgb(28, 28, 28);
	--main-color: rgb(255, 255, 255);
	--secondary-color: rgb(238, 238, 238);
	--accent-color: rgb(0, 106, 255);
	--completedTodo-color: rgba(0, 106, 255, 0.244);
	--border-color: rgba(57, 57, 57, 0.2);
	--border-style: 0.4px solid rgba(49, 49, 49, 0.2);
	--box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] {
	--font-color: rgb(226, 226, 226);
	--main-color: rgb(31, 31, 31);
	--secondary-color: rgb(36, 36, 36);
	--accent-color: rgb(0, 106, 255);
	--completedTodo-color: rgba(0, 106, 255, 0.244);
	--border-color: rgba(255, 255, 255, 0.2);
	--border-style: 0.4px solid rgba(255, 255, 255, 0.2);
	--box-shadow: 10px 15px 30px 10px rgb(0, 0, 0, 0.5);
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
	user-select: none;
	color: var(--font-color);
	background-color: var(--main-color);
}

.homepage {
	padding: 0 2rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.789)),
		url("/images/homeBG.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
	color: var(--font-color);
	font-family: Poppins;
}

.homepage h1 {
	line-height: 1.2;
}

/* MANTINE */

input,
select,
textarea {
	font-size: 16px !important;
	color: var(--font-color) !important;
}

input[type="text"],
textarea,
p,
a,
.mantine-rfbkpp,
.mantine-1w1ukwr,
.mantine-Menu-item {
	color: var(--font-color) !important;
}

.mantine-Paper-root,
.mantine-Popover-body {
	background-color: var(--main-color);
	border: 1px solid rgb(42, 42, 42);
}
.mantine-Paper-root button:hover {
	background-color: var(--secondary-color);
}

.mantine-Textarea-input,
.mantine-TextInput-input,
.mantine-PasswordInput-innerInput,
.mantine-PasswordInput-rightSection {
	background-color: var(--secondary-color);
}

.mantine-DatePicker-input,
.mantine-Select-input {
	background-color: var(--secondary-color);
	border: none;
}

.mantine-TextInput-label,
.mantine-Textarea-label,
.mantine-Text-root,
.mantine-DatePicker-calendarHeaderLevel,
.mantine-151f46f {
	color: var(--font-color);
}

.mantine-DatePicker-dropdownWrapper button:hover {
	background-color: var(--secondary-color);
}

.mantine-Select-label {
	color: white;
	background-color: blue;
}

.mantine-ColorInput-defaultVariant {
	background-color: var(--secondary-color);
	color: white;
}

@media (min-width: 750px) {
	.main {
		display: flex;
		/* justify-content: flex-start; */
	}
}
