.backdrop {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.511);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.menu {
	background-color: var(--secondary-color);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 77%;
	height: 100vh;
	z-index: 51;
}

.container {
	margin-top: 8rem;
	padding-left: 4rem;
}

.mainMenu {
	display: flex;
	flex-direction: column;

	/* gap: 0.3rem; */
}

.sectionTitle {
	margin-top: 3.5rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;
	font-weight: 800;

	/* justify-content: flex-end; */
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.mainOptions {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.projectTitleInput {
	flex: 1;
}

.projectColorInput {
	/* flex: 0 1 auto !important; */
	width: 35%;
}

.actions {
	display: flex;
	gap: 1rem;
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 0.3rem;
}

.dots {
	margin-left: auto;
	font-size: 1.2rem;
	fill: rgba(178, 178, 178, 0.826);
	padding: 0;
}

.main .dots {
	display: none;
}

.dotBtn {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dotBtn:active {
	transform: translate(0, 1px);
}

@media (hover: hover) and (pointer: fine) {
	.main:hover .num {
		display: none;
	}

	.main:hover .dots {
		display: block;
	}
}

@media (min-width: 750px) {
	.backdrop {
		display: none;
	}

	.menu {
		position: static;
		overflow: hidden;
		width: 30rem;
	}
}
