.main {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 1rem;
	gap: 1rem;
	font-size: 1.4rem;
	width: 90%;
	border-radius: 5px;
	cursor: pointer;
}

.active {
	background-color: rgba(113, 113, 113, 0.1);
}

.num {
	margin-left: auto;
	font-size: 1.2rem;
	color: rgba(178, 178, 178, 0.826);
}

.dots {
	margin-left: auto;
	font-size: 1.2rem;
	fill: rgba(178, 178, 178, 0.826);
	padding: 0;
}

.main .dots {
	display: none;
}

.main:hover .num {
	display: none;
}

.main:hover .dots {
	display: block;
}
